
.DS_Store
index.php
license.txt
readme.html
wp-activate.php
wp-admin/*
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-content/mu-plugins/*
wp-content/plugins/akismet/*
wp-content/plugins/jetpack/*
wp-content/plugins/under-construction-page/*
wp-content/plugins/woocommerce-gateway-stripe/*
wp-content/plugins/woocommerce-services/*
wp-content/plugins/woocommerce/*
wp-content/plugins/wp-analytify/*
wp-content/plugins/wp-migrate-db-pro/*
wp-content/plugins/woocommerce*
xmlrpc.php
wp-trackback.php
wp-signup.php
wp-settings.php
wp-mail.php
wp-login.php
wp-load.php
wp-links-opml.php
wp-cron.php
wp-includes/*
wp-content/uploads/wp-migrate-db/*
wp-content/uploads/woocommerce_uploads/*
wp-content/uploads/wc-logs/*
wp-content/uploads/*
wp-content/themes/twentysixteen/*
wp-content/themes/twentyseventeen/*
wp-content/themes/twentyfifteen/*
wp-content/themes/storefront/*
